@charset "EUC-KR";

	*{margin: 5px; padding: 5px;}
    .wrapper{
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 80vh;
	}
	#content{
		display: grid;
		place-items: center;
		font-family: 'Gowun Dodum', sans-serif;
		font-weight: bold;
	}
	.title{
		font-size: 3em;
		color: navy;
		font-weight: bold;
	}
	table{
		border: 3px solid navy;
		border-collapse: collapse;
	}
	td{
		border-bottom: 1px solid navy;
		padding: 10px;
	}
	.btn_area{
		padding-top: 30px;
	}
	
	/* 버튼 스타일 */
	.btn_normal {
    position: relative;
    border: none;
    min-width: 100px;
    min-height: 50px;
    background: #ffb72b;
    border-radius: 1000px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: medium;
    transition: 0.3s;
    font-family: 'Gowun Dodum', sans-serif;
	}
	
	.btn_normal:hover {
	    transform: scale(1.2);
	}
	
	.btn_normal:hover::after {
	    content: "";
	    width: 30px;
	    height: 30px;
	    border-radius: 100%;
	    border: 6px solid #ffb72b;
	    position: absolute;
	    z-index: -1;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%, -50%);
	    animation: ring 1.5s infinite;
	  }
	  
	/* 셀렉트박스 스타일 */
    select {
		width: 150px;
		padding: .8em .5em;
		border: none;
		font-family: 'Gowun Dodum', sans-serif;
		font-size: medium;
		background: (D:\서승혜\포트폴리오\4팀\img\arrow.jpg') no-repeat 95% 50%;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}
		
	select::-ms-expand {
	    display: none;
	}
