@charset "UTF-8";

* {
    margin: 5px;
    padding: 5px;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

#title {
    color: navy;
    font-family: 'Signika Negative', sans-serif;
    font-size: 4em;
    font-weight: bold;
}

#content {
    border: 3px solid navy;
    border-radius: 30px;
    width: 400px;
    height: 400px;
    display: grid;
    place-items: center;
    font-family: 'Gowun Dodum', sans-serif;
    font-weight: bold;
}

#table {
    margin: auto;
    padding: auto;
}

.btn_normal {
    position: relative;
    border: none;
    min-width: 100px;
    min-height: 50px;
    background: #ffb72b;
    border-radius: 1000px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: medium;
    transition: 0.3s;
    font-family: 'Gowun Dodum', sans-serif;
}

.btn_normal:hover {
    transform: scale(1.2);
}

.btn_normal:hover::after {
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 6px solid #ffb72b;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
}
